html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1.ant-typography {
  border-bottom: 1px solid #ccc;
}
div.ant-typography {
  margin: 0;
}
.ant-btn-group {
  display: flex;
  justify-content: flex-end;
}
.ant-btn-group button {
  margin-left: 20px !important;
}
.ant-spin-nested-loading {
  width: 100%;
}
:root {
  --xs: 480px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1600px;
}
