.container {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px 0;
}
.like {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px 10px;
  align-items: center;
  color: blue;
  border: 1px solid blue;
  border-radius: 40px;
  margin: 0 10px;
  font-size: 20px;
}
.likeActive {
  background: blue;
  color: white;
}
.dislike {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px 10px;
  align-items: center;
  color: tomato;
  border: 1px solid tomato;
  border-radius: 40px;
}
.dislikeActive {
  background: tomato;
  color: white;
}
.likeIcon {
  font-size: 20px;
  padding: 0 5px;
}
.likeNumber {
  font-size: 20px;
  padding: 0 5px;
  top: -2px;
  position: relative;
}
